#background-profile-image {
    height:1000px;
    background: url("../img/pexels-cottonbro-5483077.jpg") no-repeat fixed;
    background-size: cover; /* or contain depending on what you want */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-top: 12rem; /* Padding to veritcally push text downwards*/
  }

.push-bottom {
    position:absolute;
    bottom:0;
}

a {
    text-decoration: none; /*to remove underline from link text*/
    color: inherit;
}

a:hover {
    font-size: 105%;
    color: inherit;
}

p {
    margin-bottom: 0;
}
.work-experience-background{
    min-height: 900px;
    background: url("../img/work-exp-dark-background.jpg") no-repeat fixed;
    background-size: cover;
}
.education-background {
    min-height: 700px;
    background: url("../img/education-background.jpg") no-repeat fixed;
    background-size: cover;    
}