/* .bg-dark {
    opacity: 0.95;
    color: white;
    font-weight: bold;
    
} */

#background-profile-image {
    height:100vh;
    background: url("../img/endless-constellation.svg") fixed;
    padding-top: 12rem;
}

.light-black-background {
    background-color: black;
    opacity: 0.9;
}

/* .push-bottom {
    position:absolute;
    bottom:0;
} */

a {
    text-decoration: none; /*to remove underline from link text*/
    color: inherit;
}

body a:hover {
    font-size: 105%;
    color: inherit;
}

p {
    margin-bottom: 0;
}

.img-thumbnail {
    max-width: 100px;
}

.work-experience-background{
    /* min-height: 900px; */
    /* background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.95)); */
    /* background: url("../img/work-exp-dark-background.jpg") no-repeat fixed; */
    background-size: cover;
}

.card-scroll{
    max-height: 10rem;
    overflow: auto;
}

.education-background {
    /* min-height: 700px; */
    background-image: linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.3));
    /* background: url("../img/education-background.jpg") no-repeat fixed; */
    background-size: cover;    
}

.skill-card {
    min-height: 20rem;
}
/* add media query that this should only apply for screen wider then 567px */
.carousel-control-prev,
.carousel-control-next {
    filter:invert(100%);
}

.px10 {
    padding-left: 10%;
}

